.cards .btn-floating .favourite{
  color: #63DF99;
}

.cards .btn-floating .dismiss{
  color: #ee6e73;
}

.cards .card {
  max-height: 25rem;
}

.cards .card map {
  max-height: 15rem;
}

.cards li {
  position: absolute;
  top: 0;
  left: 0;
}

.cards .rel {
  position:relative;
}

.cards li {
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
}

.cards .filler {
  visibility: hidden;
}

.cards a {
  color: black;
}

.cards .preloader-wrapper {
  position: absolute;
  top: 45%;
  left: 45%;
}

