html, body {
  height: 100%;
  width: 100%;
}

nav {
  color: #ee6e73;
  background-color: #fff;
  margin-bottom: 5%;
}

nav .brand-logo {
  color: #ee6e73;
}

.input-field input[type=text]:focus {
 border-bottom: 1px solid #ee6e73;
 box-shadow: 0 1px 0 0 #ee6e73;
}

.address {
  position: absolute;
  bottom: 1%;
  left: 1%;
  color: #BDBDBD;
  width: 90%;
}

.address i {
  font-size: 14px;
  padding-right: 1%;
}

.food-switch {
  position: absolute;
  bottom: 1%;
  right: 1%;
}

.food-switch .btn {
  background-color: white;
  color: #E0E0E0;
}

.food-switch .active {
  background-color: white;
  color: #ee6e73;
}
