html, body {
  height: 100%;
  width: 100%;
}

nav {
  color: #ee6e73;
  background-color: #fff;
  margin-bottom: 5%;
}

nav i {
  color: #BDBDBD;
}

nav .brand-logo {
  color: #ee6e73;
}

nav .brand-logo i {
  color: #E0E0E0;
}

nav .brand-logo .active {
  color: #ee6e73;
}

nav .material-icons {
  margin: 0px;
  line-height: 56px;
}

nav .label {
  padding-left: 10px;
}

nav .icon-divider {
  color: #E0E0E0;
}

.input-field input[type=text]:focus {
 border-bottom: 1px solid #ee6e73;
 box-shadow: 0 1px 0 0 #ee6e73;
}

.address {
  position: absolute;
  bottom: 1%;
  left: 1%;
  color: #BDBDBD;
  width: 90%;
}

.address i {
  font-size: 14px;
  padding-right: 1%;
}
