<div class="row">
  <div class="col s6 offset-s3 rel">
    <ul class="stack" swing-stack>
      <li
        swing-card
        swing-on-throwoutleft="throwoutleft(eventName, eventObject)"
        swing-on-throwoutright="throwoutright(eventName, eventObject)"
        ng-repeat="card in cards" ng-class="card.name">
        <div class="card card-panel center" style="{{card.rotation}}">
          <map zoom="16" center="{{card.destination}}" styles="{{mapStyle}}" disable-default-u-i="true">
            <marker position="{{card.destination}}" title="card.name"></marker>
            <directions
              draggable="false"
              panel="directions-panel"
              travel-mode="WALKING"
              origin="{{origin}}"
              destination="{{card.destination}}"
              >
            </directions>
          </map>
          <h4><a href="{{card.website}}" target="_blank">
            {{card.name}}
          </a></h4>
          {{card.formatted_address}}
        </div>
      </li>

      <div class="card card-panel center filler">
        <h4>placeolder_name</h4>
        <h4>placeolder_name</h4>
        <map zoom="14" center="37.7699298, -122.4469157">
          <directions
            draggable="false"
            panel="directions-panel"
            travel-mode=""
            origin=""
            destination="">
          </directions>
        </map>
        address
      </div>

    </ul>
  </div>
</div>

<div class="row">
  <div class="col s6 offset-s3 center">
    <a class="btn-floating btn-large waves-effect waves-light white" ng-click="dismiss()">
      <i class="material-icons dismiss">clear</i>
    </a>
    <a class="btn-floating btn-large waves-effect waves-light white" ng-click="favourite()">
      <i class="material-icons favourite">favorite_border</i>
    </a>
  </div>
</div>

<div ng-show="loading" class="preloader-wrapper big active">
  <div class="spinner-layer spinner-red-only">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>
</div>
