<div class="row">
  <div class="col s6 offset-s3 rel">
    <ul class="stack" swing-stack>
      <li
        swing-card
        swing-on-throwout="throwout(eventName, eventObject, $index)"
        swing-on-throwoutleft="throwoutleft(eventName, eventObject)"
        swing-on-throwoutright="throwoutright(eventName, eventObject)"
        ng-repeat="card in cards" ng-class="card.name">
        <div class="card card-panel center">
          {{card.symbol}}
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col s6 offset-s3 center">
    <a class="btn-floating btn-large waves-effect waves-light white" ng-click="dismiss()">
      <i class="material-icons dismiss">clear</i>
    </a>
    <a class="btn-floating btn-large waves-effect waves-light white" ng-click="favourite()">
      <i class="material-icons favourite">favorite_border</i>
    </a>
  </div>
</div>
