<div class="row">
  <div class="col s10 m6 offset-m3 offset-s1 rel">
    <ul class="stack" swing-stack>
      <li
        swing-card
        swing-on-throwoutleft="throwoutleft(eventName, eventObject)"
        swing-on-throwoutright="throwoutright(eventName, eventObject)"
        swing-on-dragmove="dragmove(eventName, eventObject)"
        swing-on-dragend="dragend(eventName, eventObject)"
        ng-repeat="card in cards | limitTo:-1" ng-class="card.name">
        <div class="card card-panel center z-depth-2" style="{{card.rotation}}">
          <map zoom="16" center="{{card.destination}}" styles="{{mapStyle}}" disable-default-u-i="true">
            <directions
              draggable="false"
              panel="directions-panel"
              travel-mode="WALKING"
              origin="{{origin}}"
              destination="{{card.destination}}"
              >
            </directions>
          </map>
          <h4>{{card.name}}</h4>
          {{card.address}}
        </div>
      </li>
    </ul>
  </div>
</div>

<div ng-show="cards.length > 0" class="row">
  <div class="col s6 offset-s3 center">
    <a class="btn-floating btn-large waves-effect waves-light white" ng-click="dismiss()">
      <i class="material-icons dismiss">clear</i>
    </a>
    <a class="btn-floating btn-large waves-effect waves-light white" ng-click="favourite()">
      <i class="material-icons favourite">favorite_border</i>
    </a>
  </div>
</div>

<div ng-show="loading" class="preloader-wrapper big active">
  <div class="spinner-layer spinner-red-only">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>
</div>
